.App {
    .App-header {
      height: 80px;
      box-shadow: 0px 6px 20px 0 rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      align-content: center;
      flex-direction: row;
      padding-right: 2.5em;
      padding-left: 2.5em;
  
      .leftSide, .Logo, .phone {
        display: flex;
        flex-direction: row;
      }
  
      .leftSide {
        width: 50%;
      }
  
      .Logo, .phone {
        width: 250px;
      }
  
      .phone {
        align-items: center;
        font-weight: 700;
  
        a {
          color: black;
          text-decoration: none;
        }
        
        img {
          width: 23px;
          height: 24px;
          margin-right: 2.5em;
        }
      }
  
      .rightSide {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
  
        a {
          color: black;
          text-decoration: none;
        }
  
        .item {
          font-weight: 700;
          margin-left: 3.0em;
        }
      }
    }
  }